.sideMenu{
  font-size: smaller;

  ion-icon{
    color:#be1723
  }
}

.dataList{
  padding:10px;
  // flex-wrap: nowrap;   
   overflow-x: scroll;
  // overflow-y: hidden;
  font-size:smaller;
  font-weight:500;
  position: relative;

  ion-col{
    padding:3px;
  }
}

table{
  width:99%;
  table-layout: fixed;
  overflow:auto;
  margin-left:0.5%;
}
.tabelData{
  margin-left:0.5%;
  margin-top:0.5%;
  margin-bottom:2%;
  max-width: 99%;
  max-height:95%;
  overflow: auto;
}
.mat-paginator-sticky{
  color:#212121;
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

td{
  max-width: 300px;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
 font-size:12px;
 padding:6px;
}
td.mat-cell{
  padding-top:3px;
}
th{
  color:#be1723;
  font-size: 11px;
  font-weight: 500;
}
.mat-row:nth-child(even){
  background-color:#be172210;
  }


.filterField{
  font-size: 14px;
  width: 100%;
}

.checkBoxSideMenu{
  font-size: small;
  padding:3px;
  max-height: 30px;
  overflow: hidden;
  white-space: nowrap;
}
.description{
  padding-left:6px;
  color:#212121;
  font-size:11px;
  overflow:hidden;
}
ion-chip{
  font-size: 10px;font-weight: 500;
  --background:#be172340;
  padding:6px;
  text-align: center;
}
.cardChip{
  padding:5px;margin:5px;height:15%;overflow:auto;
}

.panelHeader{
  color:#212121;
  font-size: 13px;
  font-weight: 500;
  margin-left:10px;
  text-transform: uppercase;
  
}

mat-expansion-panel-header{
  max-height:40px;
  padding:0px 12px;
}


