<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title color="primary" style="font-size:25px">
      <ion-icon color="primary" name="library-outline"></ion-icon>
      <ion-label><b> DATAMATICS</b></ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>


 <ion-row style="height: 100%">
        <ion-col size="2" class="sideMenu" >
           
         <ion-content>
          <ion-searchbar animated mode="ios" (search)="applyFilterSearchBar($event)"></ion-searchbar>

          <mat-accordion >
            <mat-expansion-panel>
              <mat-expansion-panel-header> 
                <ion-icon name="briefcase-outline"></ion-icon>
                <ion-label class="panelHeader" >JOB LEVEL</ion-label>
              </mat-expansion-panel-header>
              <mat-panel-description class="ion-no-padding">
                <ion-list>
                  <ion-row *ngFor="let in of jobTitle" class="checkBoxSideMenu" (ionChange)="jobTitleSelected(jobTitle)">
                    <ion-checkbox [(ngModel)]="in.isChecked" [checked]="this.chipSet.has(in.val)"></ion-checkbox>
                    <ion-label class="description">{{in.show}}</ion-label>
                  </ion-row>
                </ion-list>
          
              </mat-panel-description>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header> 
                <ion-icon name="earth-outline"></ion-icon>
                <ion-label class="panelHeader">Country </ion-label>
              </mat-expansion-panel-header>
              <mat-panel-description class="ion-no-padding">
                <ion-list>
                  <ion-row *ngFor="let in of Geo" class="checkBoxSideMenu" (ionChange)="countrySelected(Geo)">
                    <ion-checkbox [(ngModel)]="in.isChecked" [checked]="this.chipSet.has(in.val)"></ion-checkbox>
                    <ion-label class="description">{{in.val}}</ion-label>
                  </ion-row>
                </ion-list>
          
              </mat-panel-description>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header> 
                <ion-icon name="business-outline"></ion-icon>
                <ion-label class="panelHeader">sub-Industry</ion-label>
              </mat-expansion-panel-header>
              <mat-panel-description class="ion-no-padding">
                <ion-list>
                  <ion-row *ngFor="let in of this.Industry" class="checkBoxSideMenu" (ionChange)="industrySelected(Industry)">
                    <ion-checkbox [(ngModel)]="in.isChecked" [checked]="this.chipSet.has(in.val)"></ion-checkbox>
                    <ion-text  class="description">{{in.show}}</ion-text>
                  </ion-row>
                </ion-list>
          
              </mat-panel-description>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header> 
                <ion-icon name="rocket-outline"></ion-icon>
                <ion-label class="panelHeader">Function</ion-label>
              </mat-expansion-panel-header>
              <mat-panel-description class="ion-no-padding">
                <ion-list>
                  <ion-row *ngFor="let in of Function" class="checkBoxSideMenu" (ionChange)="functionSelected(Function)">
                    <ion-checkbox [(ngModel)]="in.isChecked" [checked]="this.chipSet.has(in.val)"></ion-checkbox>
                    <ion-label class="description">{{in.val}}</ion-label>
                  </ion-row>
                </ion-list>
          
              </mat-panel-description>
            </mat-expansion-panel>


            <mat-expansion-panel>
              <mat-expansion-panel-header> 
                <ion-icon name="business-outline"></ion-icon>
                <ion-label class="panelHeader">Employee Size</ion-label>
              </mat-expansion-panel-header>
              <mat-panel-description class="ion-no-padding"> 
                
                <ion-row style="width: 100%;" class="ion-no-padding">
                  <ion-range style="width: 100%;" dualKnobs="true" min="0" max="20"  [(ngModel)]="setEmp"
                  step="0.5" snaps="true" pin="true" class="ion-no-padding" (ionChange)="setEmployeesRange(setEmp)">
                    <ion-label  slot="start" >{{this.empMinNew*1000}}</ion-label>
                    <ion-label slot="end" >{{this.empMaxNew*1000}}</ion-label>
                  </ion-range>
                </ion-row>

              </mat-panel-description>
            </mat-expansion-panel>


            <mat-expansion-panel>
              <mat-expansion-panel-header> 
                <ion-icon name="business-outline"></ion-icon>
                <ion-label class="panelHeader">Revenue <ion-text style="font-size: x-small">(in Millions)</ion-text></ion-label>
              </mat-expansion-panel-header>
              <mat-panel-description class="ion-no-padding">

                <ion-range dualKnobs="true" min="0" max="300" [(ngModel)]="setRev"
                 step="10" snaps="true" pin="true" class="ion-no-padding"
                 (ionChange)="setRevenueRange(setRev)">
                  <ion-label  slot="start">{{this.revMinNew}}</ion-label>
                  <ion-label slot="end" >{{this.revMaxNew}}</ion-label>
                </ion-range>
               
               
              </mat-panel-description>
            </mat-expansion-panel>

          </mat-accordion>


              <ion-button fill="outline" color="primary" expand="block" 
               style="--box-shadow:0;margin-top:12px" class="ApplyFilter" 
               (click)="applyDataFilters()">Apply ({{getApplySize()}})</ion-button>
              <ion-button fill="solid" color="dark" expand="block" 
              style="--box-shadow:0" (click)="clearAllFilters()">Cancel</ion-button>
        
              <ion-row style="padding:10px">
                <ion-chip *ngFor="let item of chipSet">
                  {{item}}
                </ion-chip>
                <ion-chip *ngIf="this.empChanged">{{this.empChip}}</ion-chip>
                <ion-chip *ngIf="this.revChanged">{{this.revChip}}</ion-chip>
              </ion-row>
            </ion-content>


        

        </ion-col>

        

        <ion-col size="10" class="mainContent">

          <ion-row style="padding:6px;">

             

            <ion-col size="3" class="ion-no-padding ">

              <mat-form-field class="filterField">
                <mat-label>Find in table</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex.John,Manger,United States" #input>
              </mat-form-field>

            </ion-col>

            <ion-col size="9" class="ion-text-end">

              <ion-button fill="clear" size="small"  (click)="clearAllFilters()">
                <ion-icon name="trash-outline" style="padding-right: 5px;"></ion-icon> Clear Filter
              </ion-button>

              <ion-button fill="clear" size="small" (click)="SpecificDialog()">
                <ion-icon name="search-outline" style="padding-right: 5px;" ></ion-icon> Search Specific
              </ion-button>

              <ion-button fill="clear" size="small" (click)="addExtraDialog()">
                <ion-icon name="duplicate-outline" style="padding-right: 5px;" ></ion-icon> Include
              </ion-button>
  
              <ion-button fill="clear" size="small" (click) = "openExcludeDialog()">
                <ion-icon name="cut-outline" style="padding-right: 5px;"></ion-icon> Exclude
              </ion-button>
 
              <ion-button mat-button [matMenuTriggerFor]="beforeMenu" color="primary" >
                Export as <ion-icon name="chevron-down-outline" ></ion-icon>
             </ion-button>
                <mat-menu  #beforeMenu="matMenu" xPosition="before">
                <button mat-menu-item (click)="exporter.exportTable('xlsx',{fileName:'(Ranjith) Excel Sheet Data'})" >Excel sheet</button>
                <button mat-menu-item (click)="exporter.exportTable('csv',{fileName:'(Ranjith) CSV Data'})">CSV</button>
                <button mat-menu-item (click)="exporter.exportTable('txt',{fileName:'(Ranjith) Text Data'})">Text</button>
                <button mat-menu-item (click)="exporter.exportTable('json',{fileName:'(Ranjith) JSON  Data'})">JSON</button>
                </mat-menu>

            </ion-col>

          </ion-row>

          <ion-progress-bar *ngIf="this.progressBar"  type="indeterminate" ></ion-progress-bar>

       
      <ion-content>
        <div class="tabelData mat-elevation-z8">

          <table mat-table [dataSource]="dataSource"  matSort matTableExporter #exporter="matTableExporter" >
           
            
            <ng-container matColumnDef="firstName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
              <td mat-cell *matCellDef="let element"> {{element.firstName}}</td>
            </ng-container>

            <ng-container matColumnDef="lastName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
              <td mat-cell *matCellDef="let element">{{element.lastName}} </td>
            </ng-container>
          
            <ng-container matColumnDef="contactCountry">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
              <td mat-cell *matCellDef="let element"> {{element.contactCountry}} </td>
            </ng-container>

            <ng-container matColumnDef="jobTitle1">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Job title </th>
              <td mat-cell *matCellDef="let element"> {{element.jobTitle1}} </td>
            </ng-container>
          

            
            <ng-container matColumnDef="jobLevel1">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Level </th>
              <td mat-cell *matCellDef="let element"> {{element.jobLevel1}} </td>
            </ng-container>
          
            
            <ng-container matColumnDef="jobFunction1">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Function </th>
              <td mat-cell *matCellDef="let element"> {{element.jobFunction1}} </td>
            </ng-container>

            <ng-container matColumnDef="company">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Company </th>
              <td mat-cell *matCellDef="let element"> {{element.company}} </td>
            </ng-container>
          
            <!-- <ng-container matColumnDef="speciality">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Specialty </th>
              <td mat-cell *matCellDef="let element"> {{element.speciality}} </td>
            </ng-container> -->
          
           
          
            <ng-container matColumnDef="employeeSizeToValue">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Employees </th>
              <td mat-cell *matCellDef="let element"> {{element.employeeSizeToValue}} </td>
            </ng-container>
          
            <ng-container matColumnDef="employeeSizeFromValue">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Revenue </th>
              <td mat-cell *matCellDef="let element"> {{(element.employeeSizeToValue*25000)/1000000}} M </td>
            </ng-container>
          
            <ng-container matColumnDef="industryType1">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Industry </th>
              <td mat-cell *matCellDef="let element"> {{element.industryType1}} </td>
            </ng-container>
          
            <ng-container matColumnDef="subIndustryType1">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> SubIndustry </th>
              <td mat-cell *matCellDef="let element"> {{element.subIndustryType1}} </td>
            </ng-container>
           
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true" ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>

          </table>
        </div>
      </ion-content>
       
      <mat-paginator class="mat-paginator-sticky" 
      [pageSizeOptions]="[50, 100, 200]" showFirstLastButtons></mat-paginator>
      
        
        </ion-col>
     </ion-row>
