.sideMenu{
  font-size: smaller;

  ion-icon{
    color:#be1723
  }
}

.dataList{
  padding:10px;
  // flex-wrap: nowrap;   
   overflow-x: scroll;
  // overflow-y: hidden;
  font-size:smaller;
  font-weight:500;
  position: relative;

  ion-col{
    padding:3px;
  }
}

table{
  width:100%
}


.mat-form-field {
  font-size: 14px;
  width: 20%;
}

.checkBoxSideMenu{
  font-size: small;
  padding:3px;
}


